{% extends '../init.html' %} {% block content %}
<div class="box">
  <form action="" id="logFrm" method="post">
    {% csrf_token %}

    <h1 class="text-center">
      Log In
      <span id="backToHome"><i class="fa fa-music text-info" aria-hidden="true"></i></span>
    </h1>
    <div class="text-center">
      <h4 id="msg"></h4>
    </div>
    <hr />
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="logEmail" id="logEmail" aria-describedby="emailHelpId"
        placeholder="" required />

      <small id="logEmailErr" class="form-text "></small>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" name="logPass" id="logPass" placeholder="" required />
      <small id="logPassErr" class="form-text "></small>
    </div>
    <div class="row">
      <div class="col">
        <small class="float-left">
          Already have an account
          <a class="text-info pl-1" href="{% url 'reg' %}"><b>Register</b></a>
        </small>
      </div>
      <div class="col">
        <button type="submit" class="btn float-right">Log in</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}